@import 'base.css';

.bg-summer-sky {
    background: #2D9CDB;
}

.bg-alice-blue {
    background: #F6F8F9;
}

.text-summer-sky {
    color: #2D9CDB;
}

.text-light-slay-grey {
    color: #83919F;
}

.text-silver {
    color: #BDBDBD;
}

.link-none {
    text-decoration: none;
}