@import 'base.css';

.bg-summer-sky {
    background: #2D9CDB;
}

.bg-alice-blue {
    background: #F6F8F9;
}

.text-summer-sky {
    color: #2D9CDB;
}

.text-light-slay-grey {
    color: #83919F;
}

.text-silver {
    color: #BDBDBD;
}

.link-none {
    text-decoration: none;
}

/* timeline */
.timeline {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.timeline > * {
    position: relative;
    z-index: auto !important;
}

.timeline > *::before {
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    background-color: #BDBDBD;
    border-radius: 100%;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
}

.timeline > *::after {
    display: block;
    content: "";
    width: 5px;
    height: calc(100% + 35px);
    background-color: #BDBDBD;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
    overflow: visible;
}

.timeline > *:last-child::after {
    display: none;
}

.timeline > *.done::before,
.timeline > *.done + :not(.done)::before {
    background-color: #6FCF97;
    box-shadow: 0 0 16px 0 #6FCF97;
}

.timeline > *.done::after,
.timeline > *.done + .no-timeline:after {
    background-color: #6FCF97;
}

.timeline > *.no-timeline::before {
    display: none;
}